<div *ngIf="isLoading">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
<div *ngIf="projectionError">
  {{projectionError | json}}
  {{projectionError.warning}}  
</div>
<mat-accordion>

  <mat-expansion-panel expanded=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
        <button mat-raised-button (click)="clearFA()">Reset FA</button>
        <button mat-raised-button (click)="export()">Export</button>
        <button mat-raised-button (click)="inputFA()">Fund Activities</button>
    
    </div>
    <div id="table">
      <table *ngIf="ds">
        <thead>
          <tr>
            <th class="sticky-header">
              Year/Age
            </th>
            <th *ngFor="let c of displayColumns" class="sticky-header">
              {{c}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of getRows(dt); let i = index;">
            <th class="sticky-col">
              {{ showFirstColumn()[i].year}} / {{showFirstColumn()[i].age}}
            </th>
            <td *ngFor="let c of r; let ci = index" [ngClass]="getClass(displayColumns[ci], showFirstColumn()[i], c)" (click)="changeValue(displayColumns[ci], showFirstColumn()[i], c)">
                {{isNaN(c)?(c):(formatValue(c) | currency)}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Config
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h2>Select Columns to be Displayed</h2>
    <mat-grid-list cols="5" rowHeight="5:1">
      <mat-grid-tile *ngFor="let c of allColumns">
        <mat-checkbox [(ngModel)]="input.checked[c]">{{c}}</mat-checkbox>
      </mat-grid-tile>
    </mat-grid-list>
    row steps
    <mat-form-field>
      <mat-select [(value)]="input.rowStep">
        <mat-option *ngFor="let i of [1, 5, 10]" [value]="i">{{i}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="showall = false;setDisplayColumns()">show selected Columns</button>
  </mat-expansion-panel>
</mat-accordion>
<mat-slide-toggle [(ngModel)]="ulmode">
  UL Input mode
</mat-slide-toggle>
<pre>
{{input | json}}
</pre>