.NumpadComponent {
  background-color: lightblue
}

.numpad2 {
  background-color: lightblue
}

td {
  text-align: right;
}

#table {
  height: 400px;
  width: 100%;
  overflow: scroll;
}
th.sticky-header {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: white;

}

.editable {
  background-color: lightblue;

}

th.sticky-col {
  position: sticky;
  left: 0;
  z-index: 10;
  background-color: white;

}

mat-grid-tile {
  text-align: left
}