canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 90%;
}


.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.legend {
  width: 15px;
  height:   15px;
}

#label {
  position: absolute;
}

 
.funddiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.total {
  font-size: 30px;
}
