<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<body>
<h1> Cordova test </h1>
<nav>
  [<a routerLink="/" routerLinkActive="active">Summary</a>]
  [<a routerLink="/Fundallocation" routerLinkActive="active">Fund Allocation</a>]
  [<a routerLink="/occupation" routerLinkActive="active">occupation</a>]
  [<a routerLink="/compareChart" routerLinkActive="active">compareChart</a>]
  [<a routerLink="/reportChart" routerLinkActive="active">reportChart</a>]
  
  
</nav>
<!--
<button mat-raised-button (click)="openDialog(false)">Open Dialog</button>
<button mat-raised-button (click)="openDialog(true)">Open Dialog (Patched)</button>
<input id="dummy">
//-->
<router-outlet></router-outlet>
</body>
