div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 200px;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
    width: 10px;
    text-align: right
  }