{{error | json}}
<div style="display:flex">
  <div style="width:70%">
    <div>
      <button mat-raised-button (click)="cancel()">Cancel</button>
      <button mat-raised-button (click)="close()">Confirm</button>
    </div>
    <div class="tablediv">
      <h2>Fund Activities</h2>
      <table>
        <tr style="display:sticky">
          <th>Year / Age </th>
          <th>Regular Payment</th>
          <th>Face Amount</th>
          <th>Planned Premium</th>
          <th>Withdrawal</th>

          <th></th>
        </tr>
        <tr *ngFor="let item of input; let i = index;" [ngClass]="errorYears.includes(+i+2)?'highlight':''">
          <td>{{+i + 1}} / {{+item.attainAge}}</td>
          <td *ngFor="let f of ['regularPayment','faceAmount','plannedPremium','withdrawal']">
            <mat-form-field>
              <input matInput [(ngModel)]="item[f]" type="number" [placeholder]="defVals[i][f]">
            </mat-form-field>
          </td>
        
        </tr>
      </table>


    </div>
  </div>
  <div>
    <pre>
          
    </pre>
  </div>
</div>



<pre>{{getFA() | json}}</pre>