div.tablediv {
    height:400px; 
    overflow: auto;
}

.highlight {
    color: red;
    
}

md-input-container label {
    color: red;
  }
  .editable {
      color: blue;
  }

  
  label.mat-input-placeholder {
    color: red;
  }

  table {
      border-left: 1px;
  }

  td {
    text-align: right;
    border-left: 1ch;
  }