div.tablediv {
    height:400px; 
    overflow: auto;
}

.highlight {
    background-color: red
}

md-input-container label {
    color: red;
  }
  
  
  label.mat-input-placeholder {
    color: red;
  }