{{error | json}}

<div style="display:flex">
  <div style="width:70%">
    <div>
      <button mat-raised-button (click)="cancel()">Cancel</button>
      <button mat-raised-button (click)="close()">Confirm</button>
      <button mat-raised-button (click)="undoFA()">Undo</button>
    </div>
    <div class="tablediv">
      <h2>Fund Activities</h2>
      <table>
        <tr style="display:sticky">
          <th>Year / Age </th>
          <th>Face Amount</th>
          <th>Annualized Total Payment</th>
          <th>Modal Total Payment</th>
          <th>Annaulized Base Premium</th>
          <th>Modal Base Premium</th>
          <th>Withdrawal</th>
          <th>Account Value</th>
        </tr>
        <tr *ngFor="let row of defVals">
          <td [id]="row.year + '_year'">
            {{showValue(row, 'year').value}} / {{showValue(row, 'age').value}}
          </td>
          <td [id]="row.year + '_faceAmount'" (click)="modifyFA(row.year, 'faceAmount', row.age)" [ngClass]="showValue(row, 'faceAmount', row.age).class?'highlight':'editable'" >
            {{showValue(row, 'faceAmount', row.age).value}}
          </td>
          <td [id]="row.year + '_annualizedregularPayment'">
            {{showValue(row, 'annualizedregularPayment').value}}
          </td>
          <td [id]="row.year + '_regularPayment'" (click)="modifyFA(row.year, 'regularPayment', row.age)" [ngClass]="showValue(row, 'regularPayment', row.age).class?'highlight':'editable'" >
            {{showValue(row, 'regularPayment', row.age).value}}
          </td>
          <td [id]="row.year + '_annualizedplannedPremium'">
            {{showValue(row, 'annualizedplannedPremium').value}}
          </td>
          <td [id]="row.year + '_plannedPremium'" (click)="modifyFA(row.year, 'plannedPremium', row.age)" [ngClass]="showValue(row, 'plannedPremium', row.age).class?'highlight':'editable'">
            {{showValue(row, 'plannedPremium', row.age).value}}
          </td>
          <td [id]="row.year + '_withdrawal'" (click)="modifyFA(row.year, 'withdrawal', row.age)"   [ngClass]="showValue(row, 'withdrawal', row.age).class?'highlight':'editable'">
            {{showValue(row, 'withdrawal', row.age).value}}
          </td>
          <td [id]="row.year + '_AccountHigh'">
            {{showValue(row, 'AccountHigh').value}}
          </td>

        </tr>

      </table>

    </div>
  </div>
  <div>
    <pre>
      {{FA|json}}
    </pre>
  </div>
</div>