<pre>
    {{error | json}}
</pre>
<h2>Fund Activities</h2>
<table>
  <tr>
    <th>Year/Age</th>
    <th>Face Amount</th>
    <th>Planned Premium</th>
    <th>Withdrawal</th>
    <th>Regular Payment</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of input">
    <td>{{item.attainAge}}</td>
    <td>
      <input [(ngModel)]="item.faceAmount" type="number">
    </td>
    <td>
      <input  [(ngModel)]="item.plannedPremium" type="number">
    </td>
    <td>
      <input [(ngModel)]="item.withdrawal" type="number">
    </td>
    <td>
      <input  [(ngModel)]="item.regularPayment" type="number">
    </td>
  </tr>
</table>
<button mat-raised-button (click)="close()">Cancel</button>
<button mat-raised-button (click)="validate()">Validate</button>
<button mat-raised-button (click)="close()">Confirm</button>


<pre>{{getFA() | json}}</pre>

<!--
<h2>Add Fund Activity</h2>


<mat-form-field>
  <mat-select style="width:200px;" [(ngModel)]="input.type" placeholder="Type">
    <mat-option *ngFor="let type of ['faceAmount','plannedPremium','withdrawal', 'regularPayment']" [value]="type">
      {{ type }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="attain age" [(ngModel)]="input.attainAge" type="number">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="value" [(ngModel)]="input.amount" type="number">
</mat-form-field>
<mat-form-field *ngIf="input.type=='withdrawal'">
  <input matInput placeholder="duration" [(ngModel)]="input.duration" type="number">
</mat-form-field>



<button mat-raised-button (click)="addFA()">+</button>
<Br>
<button mat-raised-button (click)="close()">Cancel</button>
<button mat-raised-button (click)="validate()">Validate</button>
<button mat-raised-button (click)="close()">Confirm</button>

<pre>
  {{FA | json}}
</pre>
//-->