<div *ngIf="isLoading">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
row steps
<mat-form-field>
  <mat-select [(value)]="rowStep">
    <mat-option *ngFor="let i of [1, 5, 10]" [value]="i">{{i}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="showall = false;setColumns()">show selected Columns</button>

<table *ngIf="ds">
  <tr>
    <th *ngFor="let c of displayColumns()">
      {{c.column}}
    </th>
  </tr>
  <tr *ngFor="let r of getRows(dt); let i = index">
    <td *ngFor="let c of r; let ci = index" [ngClass]="cellType(columns[ci].column).component" (click)="changeValue(columns[ci].column, r[1]-1, c)">
      {{ formatValue(c) }}
    </td>
  </tr>
</table>
