mat-chip {
  margin: 10px;
}

.mat-chip-list-wrapper {
  display: flex;
  align-items: baseline;
}

.selList {
  list-style: none;
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}