<mat-form-field>
  <mat-select placeholder="Rider Code" [(value)]="data.riderType" (selectionChange)="changeRiderType()">
    <mat-option *ngFor="let o of getRiderTypes()" [value]="o">{{o}}</mat-option>
  </mat-select>
</mat-form-field>
<br>

<mat-form-field>
  <mat-select placeholder="Select Insured" [(value)]="input.insured" (selectionChange)="updateOptions(r)" (click)="updateUserList()">
    <mat-option *ngFor="let o of userlist" [value]="o">
      {{o.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-grid-list [cols]="['RHC'].includes(data.riderType)?3:1" rowHeight="2:1">
  <mat-grid-tile *ngFor="let r of riders[data.productID][data.riderType].riderId">
    <div>
      <h2>Plan: {{labels[r]}}</h2>
      <div *ngIf="['RHC'].includes(data.riderType)">
        <mat-form-field>
          <mat-select placeholder="Coverage Class" [(value)]="getInputRider(r).coverageClass" (selectionChange)="updateOptions(r)">
            <mat-option *ngFor="let o of loadRiderOptions(r)" [value]="o">
              {{labels[o]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="['ADD', 'ECI', 'TRI'].includes(data.riderType)">
        <mat-form-field>
          <input matInput name="faceAmount" placeholder="Face Amount" [(ngModel)]="getInputRider(r).faceAmount">
        </mat-form-field>
      </div>
      <div *ngIf="['MC0'].includes(data.riderType)">
        <mat-chip-list>
          <mat-chip *ngFor="let v of [200,300,500,1000,2000,3000]" (remove)="remove(v)" (click)="getInputRider(r).faceAmount = +v">
            {{v}}            
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<button mat-raised-button (click)="close(true)">Cancel</button>
<button mat-raised-button [mat-dialog-close]="input" [disabled]="!(input.insured.id && input.riderType)">Ok</button>