<mat-form-field>
  <mat-select placeholder="Rider Code" [(value)]="data.riderType" (selectionChange)="changeRiderType()">
    <mat-option *ngFor="let o of getRiderTypes()" [value]="o">{{o}}</mat-option>
  </mat-select>
</mat-form-field>
<br>

<mat-form-field>
  <mat-select placeholder="Select Insured" [(value)]="input.insured" (selectionChange)="updateOptions(r)" (click)="updateUserList()">
    <mat-option *ngFor="let o of userlist" [value]="o">
      {{o.name}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div *ngIf="data.riderType=='RHC'">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let r of riders[data.productID][data.riderType].riderId">
      <div>
        <h2>Plan: {{labels[r]}}</h2>
        <mat-form-field>
          <mat-select placeholder="Coverage Class" [(value)]="getInputRider(r).coverageClass" (selectionChange)="updateOptions(r)">
            <mat-option *ngFor="let o of loadRiderOptions(r)" [value]="o">
              {{labels[o]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="data.riderType!='RHC'">
  <div *ngFor="let r of riders[data.productID][data.riderType].riderId">
    <h2>Plan: {{labels[r]}}</h2>
    <mat-form-field>
      <input matInput name="faceAmount" placeholder="Face Amount" [(ngModel)]="getInputRider(r).faceAmount">
    </mat-form-field>
  </div>
</div>
<button mat-raised-button (click)="close(true)">Cancel</button>
<button mat-raised-button [mat-dialog-close]="input">Ok</button>
<br>result---------------------------------------------------------------------------------------------
<br>
<pre>
  {{input | json}}
</pre>