<div class="example-container">
  <form>
    <mat-form-field>
      <mat-select placeholder="Select Test Case" [(value)]="selectedTestcase">
        <mat-option *ngFor="let o of testcases" [value]="o">{{o.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="selectedTestcase && selectedTestcase.payload">
      <mat-form-field>
        <input matInput required [(ngModel)]="selectedTestcase.payload.coverageInfo.faceAmount" name="faceAmount" placeholder="face amount">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [(ngModel)]="selectedTestcase.payload.coverageInfo.plannedPremium" name="plannedPremium" placeholder="planned premium">
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="validate()">Validate</button>
    <button mat-raised-button (click)="calculate()">Get Projection</button>
  </form>
</div>
 
