<div class="example-container">
  <form>
    <mat-form-field>
      <mat-select placeholder="Select Test Case" [(value)]="selectedTestcase">
        <mat-option *ngFor="let o of testcases" [value]="o">{{o.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="selectedTestcase && selectedTestcase.payload">
      <div>
        <mat-form-field>
          <input matInput required [(ngModel)]="input.insuredAge" name="insuredage" placeholder="Insured Age">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedTestcase.payload.coverageInfo.faceAmount" name="faceAmount" (change)="updatePremiumRange()" [formControl]="faceAmountCtrl" placeholder="face amount">
        </mat-form-field>
        ({{ranges.faceAmount.min}} - {{ranges.faceAmount.max}})
        <mat-form-field>
          <input matInput [(ngModel)]="selectedTestcase.payload.coverageInfo.plannedPremium" name="plannedPremium" (change)="updateFaceamountRange()" placeholder="planned premium" [formControl]="plannedPremiumCtrl">
        </mat-form-field>
        ({{ranges.plannedPremium.min}} - {{ranges.plannedPremium.max}})
      </div>
      <div>
        <mat-form-field>
          <input matInput required [(ngModel)]="input.duration" name="duration" placeholder="Duration">
        </mat-form-field>
        <mat-form-field>
          <input matInput required [(ngModel)]="input.regularPayment" name="regularpayment" placeholder="Regular Payment">
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button (click)="validate()">Validate</button>
    <button mat-raised-button (click)="calculate()">Get Projection</button>
  </form>
</div>
