.container {
  display: flex; /* or inline-flex */
}

.show {
  width: 100px;
  display: block;
}

.toolbar {
  background-color: green;
  padding: 10px;

}

.actionbar {
  background-color: gray;
  padding: 10px;
}

.close {
  display: none;
  width: 0px;
}

div {
  width: 300px;
  border: 1px;
  border-color:black;
}
